
body{
    font-family: 'Raleway', sans-serif;
    color: #666;
}
ul {
  list-style: none;
}

a {
  text-decoration: no;
  color: black;
}
.izq{
  opacity: 0;
  transition: all 1.5s;
}

.articulo2,
.articulo1{
  opacity: 0;
  transition: all 1.5s;
 
}

.enCo{
   justify-content: center;
  text-align: center;
}

.mostrarAbajo{
  animation: mostrarAbajo 1.5S;
}

@keyframes mostrarAbajo {
  0% {
      transform: translateY(+150px);
  }
  100% {
      transform: translateY(0);
  }
}

.mostrarDerecha{
  animation: mostrarDerecha 1.5s;
}


@keyframes mostrarDerecha {
  0% {
    transform: translateX(+150px);
  }
  100% {
    transform: translateX(0);
  }
}

.mostrarIzquierda{
  animation: mostrarIzquierda 1.5s;
}

@keyframes mostrarIzquierda {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0);
  }
}


/* clases del header */


.logo {
  width: 3em;
  padding: .3em;
  border-radius: 50%;
}

#barra2 {
  position: fixed;
  box-shadow: 0px 0px 15px rgb(0, 0, 0);
}

#bannertop {
  
  background-image: 
  linear-gradient(rgba(0, 0, 0, 0.671), rgba(0, 0, 0, 0.479)),
  url('img/secutiry-lan.jpg');
  min-height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: end;
  box-shadow: 0px 0px 15px rgb(0, 0, 0);
  

}

#text1 {
  color: #00fffb;
}

#fondo {
  background-color: rgba(0, 0, 0, 0.67);
  margin-top: 120px;
  margin-bottom: 80px;
  padding-left: 10px;
  padding-top: 50px;
  padding-bottom: 20px;
  border-radius: 15px;
  margin-right: 100px;
}

@media (max-width:800px){
  #fondo{
    margin-right: 0;
    
  }
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#segu {
  font-size: 1.3em;
}

#exp {
    background-color: rgb(240, 239, 239);
    font-size: 18px;
  }

.center-exp{
  justify-content: center;
}

.center-exp p{
  padding-left: 40px;
}

  #copyright {
    background: rgb(0,0,0);
background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(57,57,57,1) 100%);
background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(57,57,57,1) 100%);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(57,57,57,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#393939",GradientType=1);
    color: white;
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


#linea {
  border-top: 4px solid #9e9e9e;
  max-width: 200px;
  padding-top: 10px;
  padding-bottom: 30px;

}

@media (max-width:600px){
  #linea{
    margin-left: 130px;
    align-items: center;
    justify-content: center;
  }
}
#th3{
  font-size: 30px;
  color: #00bac6 ;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 25px;
}

#mapa{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 70px;
  padding-top: 20px;

}

#th3-real {
  color: #00bac6 ;
  
}

#th3-rec{
  color: #00bac6;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}


.link2:hover{
  color:#00bac6;
}

#escudo-f{
  width: 10em;
  border-radius: 50%;

}

body::-webkit-scrollbar{
  width: 10px;
  background: #383838;
}

body::-webkit-scrollbar-thumb{
  background: #00a2b1;
  border-radius: 5px;
}